#poll-card {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
    border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.295);
    user-select: none;
    transition: all .2s;
    margin: 20px 0px;
    text-decoration: none;
    color: inherit;
}

#poll-card .header {
    margin-bottom: 15px;
}

#poll-card .poll-title {
    background-color: #e9a237;
    border-radius: 0px 15px 0px 0px;
    font-size: 20pt;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#poll-card .content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#poll-card .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5px;

}

#poll-card .content h2 {
    margin: 0px;
    margin-bottom: 10px;
}

#poll-card .content-desc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#poll-card .content-desc div {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#poll-card .content-desc .content-desc-text {
    font-size: 13.5pt;
    margin: 7px 15px;
    display: flex;
    align-items: center;
}

#poll-card .status {
    height: 15px;
    width: 15px;
    background-color: rgb(58, 199, 58);
    border-radius: 100%;
    margin: 0px 5px;
    border: 1px solid grey;

}

#poll-card .yellow {
    background-color: rgb(223, 223, 3);
}

#poll-card .red {
    background-color: tomato;
}

#poll-card .vote {
    font-size: 15pt;
}

@media (max-width:700px) {
    #poll-card {
        width: 100%;
    }

    #poll-card:hover {
        transform: none;
    }
}