#poll-edit {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    width: 65%;
    flex-direction: column;
    margin: 100px auto;
}

#poll-edit .circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px #e9a237;
    color: #e9a237;
    background-color: #fff;
    font-size: 14pt;
    user-select: none;
    transition: background-color .2s;
    cursor: pointer;
    margin: 0px 10px;
    margin-bottom: 20px;
}

#poll-edit .inp-label {
    font-size: 14pt;
}

#poll-edit .circle:hover {
    background-color: #e9a237;
    color: #fff;
}

#poll-edit .circle:active {
    background-color: #d39232;
}

#poll-edit .circle[disabled] {
    color: grey;
    border-color: grey;
    cursor: not-allowed;
}

#poll-edit .circle:hover[disabled] {
    color: grey;
    border-color: grey;
    background-color: #fff;
}

#poll-edit .inp {
    border: none;
    outline: none;
    border-bottom: 2px solid #e9a237;
    margin-left: 5px;
    font-size: 14pt;
    transition: all .2s;
}

#poll-edit .inp:invalid {
    border-bottom-color: grey;
}

#poll-edit .inp-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

#poll-edit .center {
    text-align: center;
    margin: auto;
}

#poll-edit .buttons {
    margin: auto;
    width: auto;
}

#poll-edit .date-container {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#poll-edit .color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0px;
}

#poll-edit .select {
    font-size: 12pt;
    outline: none
}

#poll-edit .btn {
    font-size: 16.5pt;
    padding: 3px 9px;
    margin: auto;
    background-color: #fff;
    color: #dd9932;
    border: solid 1px #e9a237;
    transition: all .2s;
    cursor: pointer;
}

#poll-edit .btn[disabled] {
    color: grey;
    border-color: grey;
    cursor: not-allowed;
}

#poll-edit .btn:hover[disabled] {
    color: grey;
    background-color: #fff;
}

#poll-edit .btn:hover {
    background-color: #e9a237;
    color: #fff;
}

#poll-edit .btn:active {
    background-color: #da9631;
}

#poll-edit .close {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e9a237;
    color: #e9a237;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
}

#poll-edit .close:hover {
    background-color: #e9a237;
    color: #fff;
}

#poll-edit .close:active {
    background-color: #da9631;
}

#poll-edit .warning {
    margin-bottom: 5px;
}

.loading {
    text-align: center;
    margin: 100px auto;
}

@media (max-width:950px) {
    #poll-edit {
        width: 95%;
    }

    #poll-edit .date {
        font-size: 12pt;
        margin: 10px 0px;
    }

    #poll-edit .color {
        margin: 10px 0px;
    }
}