@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#app .title {
    font-size: 25pt;
    margin-bottom: 0;
}

#app .polls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 20%;
}

#app .desc {
    font-size: 13pt;
}

#app .header {
    text-align: center;
}